/* Copyright 2025 the Apple authors. */
/* This project is governed under the Mozilla Public License, v2.0. View in the LICENSE file. */
/* Visit w3schools.org for more info on CSS: https://www.w3schools.com/css/ */
/* Make sure you have an HTML file in your project. */

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
